


/* ------------------------------- COLOR GUIDE ----------------------------*/

/*
Gold --  Dark: #7b5915  Light: #a0741b
Rust Red -- #662d20
Coral - #f06445
White -- #efefef
Black -- #141414
*/


body {
    margin: 60px auto;
    width: 70%;
    background-color: #efefef;
}

/* ------------------------------- NAV STYLE ----------------------------*/

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 30px;
 
}

/* ------------------------------- FOOTER STYLE ----------------------------*/

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    margin-right: 20px;
}

/* ------------------------------- LINK STYLE ----------------------------*/

a {
    text-decoration: none;
    font-size: 2em;
    color: #662d20;
    
}

a:hover {
    text-decoration: none;
    letter-spacing: .2em;
    color: #662d20;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
