<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<!-- link to main stylesheet -->
			
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			
		</head>
		<body>
			<nav class="nav-bar">
	    		<ul>
	        		<li><a href="/">HOME</a></li>
		        	<li><a href="/about">ABOUT</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">BLOG</a></li>
	    		</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div>
			
			<!-- /.container -->
			
			<footer class="footer">
	    		<ul class="general">
	        		<li><a href="mailto:kambizbehi@gmail.com">email</a></li>
	        		<li><a href="https://github.com/cambyses">github.com/cambyses</a></li>
			</ul>
			
			<ul class="social-media">
				
			</ul>
			</footer>
		</body>
	</html>
